@page
@model ToDo.Pages.EditTaskModel
@{
}

<div>
    <form method="post">
        <p>Title: </p>
        <input type="text" asp-for="Title" />
        <p>Description: </p>
        <input type="text" asp-for="Description" />
        <p>Priority: </p>
        <select asp-for="Priority">
            <option value="0">Low</option>
            <option value="1" selected>Normal</option>
            <option value="2">High</option>
        </select>
        <p>Completed: </p>
        <input type="checkbox" asp-for="IsCompleted" />
        <input type="submit" />
    </form>
</div>