@page "/Login"
@model ToDo.Pages.LoginModel
@{
}

<div class="d-flex justify-content-center align-items-center col-12 h-100">
    <div class="border-dark border border-1 rounded-3 d-flex justify-content-center bg-white col-lg-3 col-md-6 p-4 shadow-lg">
        <form method="post" class="col-12">
            <div class="col-12 mb-3">
                <label class="form-label col-12">Username: </label>
                <input asp-for="Username" type="text" class="form-control col-12" />
            </div>
            <div class="col-12 mb-3">
                <label class="form-label col-12">Password: </label>
                <input asp-for="Password" type="password" class="form-control col-12" />
            </div>
            <div class="col-12">
                <input class="btn btn-warning col-6" type="submit" value="Login" />
            </div>
        </form>
    </div>
</div>